<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | ROHM Electronics Phils. Inc. | CAS </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    @Styles.Render("~/Home-CSS")
    <link rel="stylesheet" href="/Content/assets/layouts/layout/css/themes/blue.min.css" type="text/css" id="style_color">
    @RenderSection("css", required: false)
    <link rel="shortcut icon" href="/Content/images/favicon.ico" />
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md">
    @Html.Partial("_HeaderPartial")
    <div class="clearfix"> </div>
    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-content">
                @Html.Partial("~/Views/Shared/MainLayout/_ThemePanel.cshtml")
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/MainLayout/_FooterPartial.cshtml")
    <!--[if lt IE 9]>
        <script src="../assets/global/plugins/respond.min.js"></script>
        <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/home-JS")
    @RenderSection("scripts", required: false)

</body>
</html>